{:paths ["src" "resources"]
 :deps
 {org.eclipse.jgit/org.eclipse.jgit {:mvn/version "5.10.0.202012080955-r"}
  juxt/crux-core                    {:mvn/version "21.01-1.14.0-beta"}
  org.clojure/tools.cli             {:mvn/version "1.0.194"}
  fipp/fipp                         {:mvn/version "0.6.23"}
  spootnik/unilog                   {:mvn/version "0.7.27"}}}
  
